---
import './index.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Mundial de Cubos</title>
	</head>
	<body>
		<section class="banner">
			<img src="/mu_dial.png" alt="fondo">
		</section>
			<section class="caja">
			<div class="colcaja">
				<h1 class="coltitu">
					Fecha de Evento
				</h1>
				<h3 class="coltexto">
					26 Julio 2026
				</h3>
			</div>
			<div class="colcaja">
				<h1 class="coltitu">
					Cuatro
				</h1>
				<h3 class="coltexto">
					Equipos
				</h3>
			</div>
			<div class="colcaja">
				<h1 class="coltitu">
					Varios
				</h1>
				<h3 class="coltexto">
					Streamers
				</h3>
			</div>
			</section>

			<section class="livestream">
				<iframe src="https://www.youtube.com/live/xNoIxy35EHU?si=CtwRqCjBxIoHYkeg" frameborder="11"></iframe>
			</section>
		<section class="cajados">
			<div class="colcajados">
				<a href="#teams"><h1 class="coltitu">Ver Equipos</h1></a>
			</div>
		</section>

		<section id="teams" class="team-section">
  			<h2 class="team-title">Equipo A</h2>
  
  			<div class="team-container">

    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Arista05_</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Mejor06copia</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
     				<h3>Mrslycopper</h3>
    			</div>
  			</div>
		</section>
		<section id="teams" class="team-section">
  			<h2 class="team-title">Equipo B</h2>
  
  			<div class="team-container">

    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Key_am</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Dibozza</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
     				<h3>MantraExp</h3>
    			</div>
  			</div>
		</section>
		<section id="teams" class="team-section">
  			<h2 class="team-title">Equipo C</h2>
  
  			<div class="team-container">

    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Jerec_Art</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Farfante</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
     				<h3>Wes_Sad</h3>
    			</div>
  			</div>
		</section>
		<section id="teams" class="team-section">
  			<h2 class="team-title">Equipo D</h2>
  
  			<div class="team-container">

    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Jotape</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
      				<h3>Broderick</h3>
    			</div>


    			<div class="team-card">
      				<div class="avatar-placeholder">👤</div>
     				<h3>Por definir</h3>
    			</div>
  			</div>
		</section>
	</body>
</html>
